@import '../../color-variable.scss';

.header-right {
    margin-right: 30px !important;
    display: flex;
    column-gap: 15px;

    li {
        padding: 0 5px;
        width: initial;

        a {
            color: #fff;
            display: inline-flex;
            text-decoration: none;
            position: relative;

            &:hover {
                // opacity: 0.7;
                color: #a1d0ff;
            }

            .cartNumber {
                position: absolute;
                top: -7px;
                right: -7px;
                width: 17px;
                height: 17px;
                border-radius: 100%;
                background: #ffffff;
                color: #1976d2;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 17px;
                font-size: 13px;
            }
        }
    }
}